<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>

<!--  <link rel="stylesheet" href="bootstrap.css">	-->
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<div class="nav">
	<div class="container">

		<% if current_user %>
			Logged in as <%= current_user.email %>
			<%= link_to "注销",log_out_path %>
		<% else %>
		<%= link_to "注册",sign_up_path %> or 
		<%= link_to "登陆", log_in_path %>
		<% end %>
	</div>
</div>


<body>
<%= yield %>

</body>
</html>
